.App {
  text-align: center;
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

.flex-column-secondary{
  display: flex;
  width: 20vw;
}

.card{
  border: 1px solid black;
  padding: 1rem;
  margin : 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
  align-items: flex-start;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

.flex-form{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  margin: auto;
  max-width: 50vw;
}