.App {
  text-align: center;
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

.flex-column-secondary{
  display: flex;
  width: 20vw;
  flex-direction: column;
}

.card{
  border: 1px solid black;
  padding: 1rem;
  margin : 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
  align-items: flex-start;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

.flex-form{
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
  padding: 1rem;
  margin: auto;
  max-width: 50vw;
  position: relative;
}

.form-items{
  width: 100%;
  border: none;
  margin : 0 0 1rem;
  outline: none;
  resize: none;
  opacity: 90%;  
}

.form-items:focus::placeholder{
  color: transparent;
}

.form-input{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5rem;
}

.form-textarea{
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 550;
}

.form-items-secondary{
  display: flex;
  justify-content: space-between;
}